body  {
	background-color: #6cf7d9;
}

h1   {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-align: center;
}

p   {
	color: #113531;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
h2   {
	color: #845078;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

a:visited {
	color:#a5317d;
}

a:hover {
	color:#0008f9;
}

a:unvisited {
	color:#f90000;
}
